body {
	background-color: aqua;
}

header {
	background-color: dodgerblue;
}

footer {
	background-color: #184c8c;
	color: white;
}

p {
	color: black;
	font-family: Comic Sans MS;
	text-shadow: 2px 2px 3px green;
}

button {
	color: white;
	background-color: blue;
	border: dashed 4px black;
}

a {
	color: black;
	font-family: Comic Sans MS;
	text-shadow: 2px 2px 3px mediumseagreen;
}

marquee {
	text-shadow: 2px 2px 3px mediumseagreen;
	color: black;
	font-family: arial;
}

h1 {
   color: blue;
   background-color: lightblue;
   font-family: Audiowide;
   text-align: center;
   text-shadow: 2px 2px 3px mediumseagreen;
}

h2 {
   color: white;
   font-family: 'Courier New', monospace;
   text-align: center;
   text-shadow: 2px 2px 3px red;
}

.v {
	color: black;
	background-color: dodgerblue;
	padding: 15px;
	margin: 20px;
	border: 4px solid teal;
	outline: 4px dotted mediumseagreen;
	float: left;
	max-width: 758px;
}